footer{
    height: 10vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

button{
    background-color: inherit;
    margin: 1rem;
    color: rgb(11, 211, 11);
    text-transform: uppercase;
    border:none;
    font-weight:bolder;
    
  
}
